@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
    ViewData["Image"] = "~/img/Goodfellowselectrical-logo-black.jpeg";
    ViewData["Description"] = "Discover what us Goodfellows are about, our 20+ year history as family-run electricians, the areas we offer our services in, who we are as a team and the companies we've worked for";
    ViewData["Keywords"] = "about, about us, history, discover";
}

<!-- Header -->
<section class="about-bg header-normal bg-dark-2 text-white">
    <div class="container align-items-center my-auto">
        <div class="row flex-row">
            <div class="col-5">
                <h1 class="head-title">About Us</h1>
                <div class="pt-2">
                    <p class="head-subtext">Discover what us Goodfellows are about, our 20+ year history as family-run electricians, the areas we offer our services in, who we are as a team and the companies we've worked for</p>
                </div>
            </div>
            <div class="col-7 mx-auto text-center">
                <div class="head-icon">
                    <i class="fa-regular fa-lightbulb"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Us -->
<section class="">
    <div class="container justify-content-center align-items-center">
        <div class="row flex-row">
            <div class="col-5">
                <img class="section-img" src="~/img/old-goodfellows-mobile.jpeg" alt="David and Reeza" />
            </div>
            <div class="col-7">
                <div class="row">
                    <h2 class="section-title">Who We Are</h2>
                    <h5 class="section-subtitle">About Us</h5>
                </div>
                <div class="pt-2">
                    <p>Goodfellows Electrical is a family owned and run electrical contracting business. We have been proudly serving Brisbane for 20 years in installations, maintenance and repairs in commercial, industrial and domestic settings</p>
                    <p>At Goodfellows Electrical we pride ourselves in our workmanship, customer service, knowledge and fair pricing</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- History -->
<section class="bg-light-1">
    <div class="container justify-content-center align-items-center">
        <div class="row flex-row-reverse">
            <div class="col-5">
                <img class="section-img" src="~/img/new-goodfellows-mobile.jpg" alt="David and Reeza" />
            </div>
            <div class="col-7">
                <div class="row">
                    <h2 class="section-title">Family Owned</h2>
                    <h5 class="section-subtitle">Built on Tradition</h5>
                </div>
                <div class="pt-2">
                    <p>You can rely on our 20+ years of being a family run business, servicing Brisbane and surrounding areas</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Meet the Team -->
<section class="">
    <div class="row flex-row text-center">
        <h2 class="section-title">Meet the Team</h2>
        <h5 class="section-subtitle">Goodfellows Electrical</h5>
    </div>
    <div class="row flex-row pt-3">
        <div class="col-6">
            <div class="row flex-row">
                <div class="col-3">
                    <img src="" alt="David Goodfellow" class="section-team-img" />
                </div>
                <div class="col-9">
                    <h6 class="section-team-name">David Goodfellow</h6>
                    <p class="section-team-title">Electrician</p>
                    <p class="section-team-description">David has been in the electrical industry since 1970 and worked as a contractor throughout New South Wales, Queensland and South Africa. He has an unwavering drive to get the job done</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row flex-row">
                <div class="col-3">
                    <img src="" alt="Reeza Goodfellow" class="section-team-img" />
                </div>
                <div class="col-9">
                    <h6 class="section-team-name">Reeza Goodfellow</h6>
                    <p class="section-team-title">Electrician</p>
                    <p class="section-team-description">Reeza has been in the industry for 5 years. He loves to help customers achieve their vision for their homes and businesses</p>
                </div>
            </div>
        </div>
        <div class="col-6 pt-3">
            <div class="row flex-row">
                <div class="col-3">
                    <img src="" alt="Cameron Faulkner" class="section-team-img" />
                </div>
                <div class="col-9">
                    <h6 class="section-team-name">Cameron Faulkner</h6>
                    <p class="section-team-description">Apprentice Electrician</p>
                    <p class="section-team-description">Cameron is the newest member of the Goodfellows team. He has just embarked on his electrical journey and is always putting his hand up to learn more and sharpen his skills</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Areas We Service -->
<section class="bg-light-1">
    <div class="row flex-row text-center justify-content-center align-items-center">
        <h2 class="section-title">Areas We Service</h2>
        <h5 class="section-subtitle">South Brisbane</h5>
    </div>
    <div class="row flex-row pt-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d113186.27600966771!2d153.0541454!3d-27.560303!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xed593c3e1cf92b60!2sGoodfellows%20Electrical!5e0!3m2!1sen!2sau!4v1669244302130!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="row flex-row pt-4">
        <div class="col-3">
            <ul class="areas-list">
                <li class="areas-item">MacGregor</li>
                <li class="areas-item">Sunnybank</li>
                <li class="areas-item">Sunnybank Hills</li>
                <li class="areas-item">Robertson</li>
                <li class="areas-item">Runcorn</li>
                <li class="areas-item">Eight Mile Plains</li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="areas-list">
                <li class="areas-item">Rochedale</li>
                <li class="areas-item">Wishart</li>
                <li class="areas-item">Mansfield</li>
                <li class="areas-item">Coopers Plains</li>
                <li class="areas-item">Salisbury</li>
                <li class="areas-item">Algester</li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="areas-list">
                <li class="areas-item">Calamvale</li>
                <li class="areas-item">Logan</li>
                <li class="areas-item">Archerfield</li>
                <li class="areas-item">Springwood</li>
                <li class="areas-item">Underwood</li>
                <li class="areas-item">Daisy Hill</li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="areas-list">
                <li class="areas-item">Holland Park</li>
                <li class="areas-item">Mt. Gravatt</li>
                <li class="areas-item">Holland Park West</li>
                <li class="areas-item">Cannon Hill</li>
            </ul>
        </div>
    </div>
</section>

<!-- Previous Work -->
<section class="">
    <div class="row flex-row text-center justify-content-center align-items-center">
        <h2 class="section-title">Previous Installations</h2>
        <h5 class="section-subtitle">What We Have Delivered</h5>
    </div>
    <div class="row flex-row text-center pt-3">
        <div class="col-3">
            <a href="https://www.instagram.com/p/CkhaJi2PAkw/"><img src="~/img/previous-1.jpg" alt="Domestic Lighting Installation" class="section-previous-img-2" /></a>
        </div>
        <div class="col-3">
            <a href="https://www.instagram.com/p/CkhaJi2PAkw/"><img src="~/img/previous-3.jpg" alt="Domestic Lighting Installation" class="section-previous-img-2" /></a>
        </div>
        <div class="col-3">
            <a href="https://www.instagram.com/p/CQ0D4AfFMKl/"><img src="~/img/previous-7.jpg" alt="Outdoor Stair Lighting" class="section-previous-img-2" /></a>
        </div>
        <div class="col-3">
            <a href="https://www.instagram.com/p/CW4ypPKPGZT/"><img src="~/img/previous-8.jpg" alt="Modern Domestic Lighting Installation" class="section-previous-img-2" /></a>
        </div>
    </div>
    <div class="pt-4">
        <div class="row justify-content-center align-items-center">
            <a class="section-more-btn" href="/Previous">See More</a>
        </div>
    </div>
</section>

<!-- Community --> <!-- Will need work -->
<section class="bg-theme-green">
    <div class="row flex-row text-center justify-content-center align-items-center text-white">
        <h2 class="section-title">Community Jobs</h2>
        <h5 class="section-subtitle">Who We've Worked For</h5>
    </div>
    <div class="row flex-row text-center pt-3 text-white">
        <div class="col-2">
            <img src="" alt="Place image" class="section-previous-img" />
            <h6 class="section-previous-description">Name of Company</h6>
        </div>
        <div class="col-2">
            <img src="" alt="Place image" class="section-previous-img" />
            <h6 class="section-previous-description">Name of Company</h6>
        </div>
        <div class="col-2">
            <img src="" alt="Place image" class="section-previous-img" />
            <h6 class="section-previous-description">Name of Company</h6>
        </div>
        <div class="col-2">
            <img src="" alt="Place image" class="section-previous-img" />
            <h6 class="section-previous-description">Name of Company</h6>
        </div>
        <div class="col-2">
            <img src="" alt="Place image" class="section-previous-img" />
            <h6 class="section-previous-description">Name of Company</h6>
        </div>
        <div class="col-2">
            <img src="" alt="Place image" class="section-previous-img" />
            <h6 class="section-previous-description">Name of Company</h6>
        </div>
    </div>
</section>

<!-- Contact Us -->
<section class="">
    <div class="container justify-content-center align-items-center">
        <div class="row flex-row">
            <div class="col-3">
                <div class="head-icon text-center text-dark">
                    <i class="fa-solid fa-phone-flip"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <h2 class="section-title">Contact Us</h2>
                    <h5 class="section-subtitle">Get in Touch</h5>
                </div>
                <div class="pt-2">
                    <p>Need to get in touch for more information? Contact us socially, have a chat over the phone or complete our submission form and we'll get back to you</p>
                </div>
                <div class="col-6 pt-3">
                    <a class="section-more-btn" href="/Contact">See More</a>
                </div>
            </div>
        </div>
    </div>
</section>