@page
@model ServicesModel
@{
    ViewData["Title"] = "What We Offer";
    ViewData["Image"] = "~/img/Goodfellowselectrical-logo-black.jpeg";
    ViewData["Description"] = "See the different types of services we offer in commercial and industrial settings. We can do work in all fields of electrical expertise";
    ViewData["Keywords"] = "service, services, what, what we do, offer, what we offer";
}

<!-- Header -->
<section class="services-bg header-normal bg-dark-2 text-white">
    <div class="container align-items-center my-auto">
        <div class="row flex-row">
            <div class="col-5">
                <h1 class="head-title">What We Offer</h1>
                <div class="pt-2">
                    <p class="head-subtext">See the different types of services we offer in commercial and industrial settings. We can do work in all fields of electrical expertise</p>
                </div>
            </div>
            <div class="col-7 mx-auto text-center">
                <div class="head-icon">
                    <i class="fa-solid fa-plug-circle-check"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Domestic Installation -->
<section class="" id="domestic">
    <div class="container justify-content-center align-items-center">
        <div class="row flex-row">
            <div class="col-5">
                <img class="section-img" src="~/img/domestic.jpeg" alt="David and Reeza" />
            </div>
            <div class="col-7">
                <div class="row">
                    <h2 class="section-title">Domestic</h2>
                    <h5 class="section-subtitle">Property appliance installations</h5>
                </div>
                <div class="pt-2">
                    <p>You can trust Goodfellows Electrical to take care of any installations, replacements or maintenance in your home or rental property</p>
                </div>
                <div class="pt-2">
                    <ul>
                        <li>Light Installations</li>
                        <li>Fan Installations</li>
                        <li>Oven/Cooktop Installations</li>
                        <li>Switchboard Installations, Repairs, Upgrades and Relocations</li>
                        <li>Safety Testing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Commercial Installation -->
<section class="bg-light-1" id="commercial">
    <div class="container justify-content-center align-items-center">
        <div class="row flex-row-reverse">
            <div class="col-5">
                <img class="section-img" src="~/img/commercial.jpeg" alt="David and Reeza" />
            </div>
            <div class="col-7">
                <div class="row">
                    <h2 class="section-title">Commercial</h2>
                    <h5 class="section-subtitle">Industrial troubleshooting and repairs</h5>
                </div>
                <div class="pt-2">
                    <p>Goodfellows can assist you with all your commercial needs. We have experience in shop-fitting, new installations and repairs in commercial settings</p>
                </div>
                <div class="pt-2">
                    <ul>
                        <li>Industrial Installations</li>
                        <li>Commercial Installations</li>
                    </ul>   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- General Installation -->
<section class="" id="general">
    <div class="container justify-content-center align-items-center">
        <div class="row flex-row">
            <div class="col-5">
                <img class="section-img" src="~/img/general.jpeg" alt="David and Reeza" />
            </div>
            <div class="col-7">
                <div class="row">
                    <h2 class="section-title">Installations</h2>
                    <h5 class="section-subtitle">General wiring, cabling and appliances</h5>
                </div>
                <div class="pt-2">
                    <p>We can ensure your electrical equipment is installed in a safe, efficient and aesthetic manner</p>
                </div>
                <div class="pt-2">
                    <ul>
                        <li>Light Installations</li>
                        <li>Oven Installations</li>
                        <li>Powerpoint Installations</li>
                        <li>Hot Water System Installations</li>
                        <li>Smoke Alarm Testing & Installations</li>
                        <li>Data & TV Point Installations</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Maintenance -->
<section class="bg-light-1" id="maintenance">
    <div class="container justify-content-center align-items-center">
        <div class="row flex-row-reverse">
            <div class="col-5">
                <img class="section-img" src="~/img/maintenance.jpeg" alt="David and Reeza" />
            </div>
            <div class="col-7">
                <div class="row">
                    <h2 class="section-title">Maintenance</h2>
                    <h5 class="section-subtitle">System inspections and repairs</h5>
                </div>
                <div class="pt-2">
                    <p>At Goodfellows we are more than happy to fix and maintain electrical equipment including repairs and periodic testing</p>
                </div>
                <div class="pt-2">
                    <ul>
                        <li>Indoor/Outdoor Lighting</li>
                        <li>Sensors</li>
                        <li>Cabling</li>
                        <li>Ovens/Cooktops</li>
                        <li>Rangehoods</li>
                        <li>Power, Lighting & Switchboard Faults</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Previous Work -->
<section class="">
    <div class="row flex-row text-center justify-content-center align-items-center">
        <h2 class="section-title">Previous Installations</h2>
        <h5 class="section-subtitle">What We Have Delivered</h5>
    </div>
    <div class="row flex-row text-center pt-3">
        <div class="col-3">
            <a href="https://www.instagram.com/p/CkhaJi2PAkw/"><img src="~/img/previous-1.jpg" alt="Domestic Lighting Installation" class="section-previous-img-2" /></a>
        </div>
        <div class="col-3">
            <a href="https://www.instagram.com/p/CkhaJi2PAkw/"><img src="~/img/previous-3.jpg" alt="Domestic Lighting Installation" class="section-previous-img-2" /></a>
        </div>
        <div class="col-3">
            <a href="https://www.instagram.com/p/CQ0D4AfFMKl/"><img src="~/img/previous-7.jpg" alt="Outdoor Stair Lighting" class="section-previous-img-2" /></a>
        </div>
        <div class="col-3">
            <a href="https://www.instagram.com/p/CW4ypPKPGZT/"><img src="~/img/previous-8.jpg" alt="Modern Domestic Lighting Installation" class="section-previous-img-2" /></a>
        </div>
    </div>
    <div class="pt-4">
        <div class="row justify-content-center align-items-center">
            <a class="section-more-btn" href="/Previous">See More</a>
        </div>
    </div>
</section>

<!-- Contact Us -->
<section class="bg-light-1">
    <div class="container justify-content-center align-items-center">
        <div class="row flex-row">
            <div class="col-3">
                <div class="head-icon text-center text-dark">
                    <i class="fa-solid fa-phone-flip"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <h2 class="section-title">Contact Us</h2>
                    <h5 class="section-subtitle">Get in Touch</h5>
                </div>
                <div class="pt-2">
                    <p>Need to get in touch for more information? Contact us socially, have a chat over the phone or complete our submission form and we'll get back to you</p>
                </div>
                <div class="col-6 pt-3">
                    <a class="section-more-btn" href="/Contact">See More</a>
                </div>
            </div>
        </div>
    </div>
</section>