@page
@model SubmittedModel
@{
    ViewData["Title"] = "Submission Success";
    ViewData["Image"] = "~/img/Goodfellowselectrical-logo-black.jpeg";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}

<!-- Header -->
<section class="services-bg header-normal text-black">
    <div class="container align-items-center my-auto">
        <div class="row flex-row">
            <div class="col-5">
                <h1 class="head-title">Form Submission Successful</h1>
                <div class="pt-2">
                    <p class="head-subtext">Thank you for reaching out to us! We will be in touch with you shortly...</p>
                </div>
            </div>
            <div class="col-7 mx-auto text-center">
                <div class="head-icon">
                    <i class="fa-solid fa-plug-circle-check"></i>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Home -->
<section class="bg-light-1">
    <div class="container justify-content-center align-items-center">
        <div class="row flex-row">
            <div class="col-3">
                <div class="head-icon text-center text-dark">
                    <i class="fa-solid fa-house"></i>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <h2 class="section-title">Home</h2>
                    <h5 class="section-subtitle">Brisbane's Trusted Electricians...'</h5>
                </div>
                <div class="pt-2">
                    <p>Family owned and servicing Brisbane for over 20 years, we love to provide our customers with someone they can rely on and trust to produce exceptional outcomes and professional results</p>
                </div>
                <div class="col-6 pt-3">
                    <a class="section-more-btn" href="/Index">See More</a>
                </div>
            </div>
        </div>
    </div>
</section>